{
  "version": "1.0",
  "type": "photo",
  "width": 300,
  "height": 200,
  "title": "<%= heading %>",
  "url": "https://mailo.svetel.cz/photos/<%= gallery_name %>/thumbnails/<%= File.basename gallery_data[:photos][0].filename %>",
  "author_name": "Mailo Světel",
  "author_url": "https://mailo.svetel.cz",
  "provider_name": "Photos",
  "provider_url": "https://mailo.svetel.cz",
  "cache_age": 300
}
