<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/baguetteBox.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="alternate"  href="https://mailo.svetel.cz/photos/<%= gallery_name %>/oembed.json" type="application/json+oembed" title="<%= heading %>" />
  <title><%= heading %></title>
</head>
<body>
<div class="container-fluid">
  <section class="section">
    <header>
      <div class="text col-md-2"><h1><%= heading %></h1></div>
      <div class="navigation col-md-10 text-justify">
        <% if keywords_page %>
          <a href="index.html">index</a>
        <% else %>
          <% keywords&.sort_by { |keyword_name, keyword_data| keyword_name.to_s.downcase }.each do |keyword_name, keyword_data| %>
            <a href="keyword-<%= keyword_name %>.html"><%= keyword_name %></a>
          <% end %>
        <% end %>
      </div>
    </header>
    <div style="clear: both"></div>
    <div class="gallery">
      <% gallery_data[:photos].sort_by { |photo| photo.date_time_original.to_f }.each do |photo| %>
        <div id="<%= File.basename(photo.filename, '.*') %>" class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="photo-container <%= photo.keywords&.dup&.delete('panoramic') %>">
                <a href="full/<%= File.basename(photo.filename) %>" target="full_photo">
                  <img class="d-block mx-auto photo-thumbnail"
                       loading="lazy"
                       srcset="thumbnails/<%= File.basename(photo.filename) %> 300w,
                            full/<%= File.basename(photo.filename) %> <%= photo.image_width %>w"
                       sizes="(max-width: 1999.99px) 300px, <%= photo.image_width %>px"
                       data-filename="<%= File.basename(photo.filename) %>"
                       alt="<%= File.basename(photo.filename) %>"/>
                </a>
              </div>
              <div class="item__details">
                <div class="photo-headline">
                  <%= photo.title.presence || photo.headline %>
                </div>
                <div>
                  <strong>Name:</strong>
                  <%= File.basename photo.filename %>
                  <a href="#<%= File.basename(photo.filename, '.*') %>">⚓︎</a>
                </div>
                <div>
                  <strong>Date:</strong> <%= photo.date_time_original %>
                </div>
                <% if !photo.gps_latitude.nil? && !photo.gps_longitude.nil? %>
                  <strong>Location:</strong>
                  <a href="https://www.google.com/maps/search/<%= photo.gps_latitude %>,<%= photo.gps_longitude %>"
                     target="foto-gps">
                     📍<%= if [photo.location, photo.city, photo.country].reject(&:blank?).present?
                      [photo.location, photo.city, photo.country].reject(&:blank?).join ', '
                     else
                      'Map'
                      end %>
                  </a>
                <% end %>
                <% if photo.keywords && !([photo.keywords].flatten - gallery_config[:skipped_keywords]).blank? %>
                  <div>
                    <strong>Keywords:</strong>
                    <% if photo.keywords.is_a?(Array) %>
                      <% (photo.keywords - gallery_config[:skipped_keywords])
                           .sort_by { |keyword_name, keyword_data| keyword_name.to_s.downcase }
                           .each do |keyword| %>
                        <% if keywords_page && gallery_data[:name] == keyword %>
                          <%= keyword %>
                        <% else %>
                          <a href="keyword-<%= keyword %>.html"><%= keyword %></a>
                        <% end %>
                      <% end %>
                    <% elsif photo.keywords.is_a?(String) && !gallery_config[:skipped_keywords].include?(photo.keywords) %>
                      <% if keywords_page && gallery_data[:name] == photo.keywords %>
                        <%= photo.keywords %>
                      <% else %>
                        <a href="keyword-<%= photo.keywords %>.html"><%= photo.keywords %></a>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
<script src="assets/baguetteBox.min.js"></script>
<script>
    baguetteBox.run(".gallery", {
        animation: "slideIn",
        captions: function (element) {
            let imageFileName = element.getElementsByTagName('img')[0].getAttribute("data-filename");
            return element.parentElement.parentElement.parentElement.querySelector('.photo-headline').textConent;
        }
    });
</script>
</body>
</html>
