.photo-thumbnail {
  align-self: center;
  display: block;
  height: 100%;
  margin: auto;
}

.card { height: 97% }

.card .card-body .photo-container.panoramic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-body .photo-container.panoramic a {
  width: 100%
}

.card .card-body .photo-container.panoramic img {
  width: 100%;
  height: auto;
}

.card .card-body .item__details { padding: 0.5rem; }

.navigation {
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .card .card-body .item__details {
    height: fit-content;
  }

  .col-md-4 { width: 100% }
}

@media (max-width: 575.98px) {
  .card .card-body .photo-container { height: 200px; }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card .card-body .photo-container { height: 360px; }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card .card-body .photo-container { height: 140px; }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card .card-body .photo-container { height: 185px; }
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
  .card .card-body .photo-container { height: 230px; }
}

@media (min-width: 1500px) and (max-width: 1999.98px) {
  .card .card-body .photo-container { height: 300px; }
}

@media (min-width: 2000px) and (max-width: 2499.98px) {
  .card .card-body .photo-container { height: 400px; }
}

@media (min-width: 2500px) and (max-width: 2999.98px) {
  .card .card-body .photo-container { height: 500px; }
}

@media (min-width: 3000px) and (max-width: 3499.98px) {
  .card .card-body .photo-container { height: 580px; }
}

@media (min-width: 3500px) {
  .card .card-body .photo-container { height: 700px; }
}

@media (min-width: 1200px) {
  .card .card-body .photo-container.panoramic img {
    width: 100%;
    height: auto;
  }
}
